sudo: required
dist: trusty

services:
  - docker

language: java

jdk:
  - oraclejdk8

after_success:
- docker build -t daves125125/sampleit-server .
- docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- docker push daves125125/sampleit-server

notifications:
  email: false